@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Pacifico&family=Roboto&display=swap');

:root {
    /* Defining colors as variables */
    --color-dark: #1E566C;
    --color-light: #FFFBFC;
    --color-highlight-accent: #863B1D;
    --color-highlight-green: #2B8C67;
    --color-highlight-green-transparent:rgba(43, 140, 103, 0.6);
      }


/* Clearning css and zeroing all margins, pads and borders */
* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    background-color: var(--color-dark);
    color: var(--color-dark);
    font-family: 'Roboto', sans-serif;
}


/* Setting default font size as 10px */
html {
  font-size: 62.5%;
  /* Set font size to 62.5% so that 1rem = 10px for initial designing (16px / 62.5 === 10) */
 }

/* Adjust sizing so text fits on small size devices */
@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* Screen sizing for the Galaxy Fold */
@media screen and (max-width: 300px) {
  html {
    font-size: 45%;
  }
}

.font-color-red {
  color: var(--color-highlight-accent) !important;
}


#map_marker, #map_route1, #map_route2, #map_route3{
    max-height: 40rem;  /* The height is 400 pixels */
    height: 75vw;
    width: 100%;    
    min-width: 20rem;
  }


  /* Link hover highlight */
a:hover   {
    color: var(--color-highlight-green) !important;
  }
  .fa-instagram:hover  {
    color: var(--color-highlight-accent) !important;
  }
  .fa-twitter:hover  {
    color: var(--color-highlight-accent) !important;
  }
  .fa-facebook:hover  {
    color: var(--color-highlight-accent) !important;
  }
  .credits a:hover {
    color: var(--color-highlight-accent) !important;
  }

#container {
    /* Starting the scrollbar under the navbar */
    /* Cotainer wraps around full content; needed to make sure no overflow with NavBar */
    width: 100%;
    position: fixed;
    top: 10vh;
    bottom: 0;
    overflow: auto;
}

.navbar {
    overflow: hidden;
    background-color: var(--color-dark);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page *//* width */
    width: 100%; /* Full width */
    z-index: 999; /* Setting navbar to be always on top */
    line-height: 10vh;
  }

/* main menu navigation links */
.menu {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    float: right; /* Floating the parent element right */
    color:var(--color-light);
    font-family: 'Roboto', sans-serif;
}

.menu li {
    float: left; /* Floating the links in order */
    list-style-type: none;
    margin-right: 3rem;
}

/* Targeting descendent links of the menu id */
.menu a, .logo a, .credits a{
    text-decoration: none; /* removing the   for hyperlinks */
    color: inherit; /* Links will inherit the color from the closest parent; in this case body */
} 

/* This is the logo at the top left of the page */
.logo {
    float: left;
    font-size: 3rem;
    margin-left: 3rem;
    color:var(--color-light);
    font-family: 'Pacifico', cursive;;
}

#hero-outer {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    position: relative; /* Required to make sure child elements will be relative to hero outer */
}


/* hero image */
.hero-image {
    background-image: url(../images/hero-image.jpg);
    width: 100%;
    height: 95%;
    background-size: cover;
    background-size: cover;
    -webkit-animation: fadein 8s normal forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 8s normal forwards; /* Firefox < 16 */
        -ms-animation: fadein 8s normal forwards; /* Internet Explorer */
         -o-animation: fadein 8s normal forwards; /* Opera < 12.1 */
            animation: fadein 8s normal forwards;
}


/* **************************************** */
/* Fade in Animation; cross-browser support */

    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
/* **************************************** */


.wrapper-hero {
  display: grid;
  grid-template-columns: 60vw;
  grid-gap: 0rem;
  align-items: center;
  justify-items: center; /* adjusted */
}

.hero-text h1, .hero-text h3 {
    color:var(--color-light);
}

.hero-text {
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    line-height: 3rem;
    width: 60vw;
}

.position-on-top {
    margin: 0 auto;
    bottom: 0%;
    right: 0%;
    left: 0%;
    top: 25%;
    position: absolute;
}

/* **************************************** */
/* Styling the sections with borders        */
/* **************************************** */

.section-border {
    border-width: 2px;
    border-style: double;
    border-color: var(--color-highlight-green);
    margin: 3vh 15vw;
    padding: 1rem 1rem;
    background-color: var(--color-light);
    box-shadow: 0.5rem 1rem var(--color-highlight-accent);
}

.section-title {
    padding: 2rem 0rem 0rem 0rem;
    color:var(--color-light);
    font-size: 2.5rem;
    text-align: center;
    letter-spacing:0.5rem;
}
/* **************************************** */


/* **************************************** */
/* Footer elements */
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline; /* Setting the display to inline for the list elements */
     }


/* Footer Elements - font */
.social-networks i {
    font-size: 4rem;
    color: var(--color-light);
    margin: 1%;
    padding: 2%;
}
/* **************************************** */

/* **************************************** */
/* Custom Scrollbar                         */

/* width */
::-webkit-scrollbar {
    width: 2rem;
    left: -100px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-highlight-green);
    border-radius: 1rem;
  }



/* **************************************** */
/* Flexbox Elements for each of the sections */
/* **************************************** */

 /* Disabling word wrap on the title */ 
.no-wrap{
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 3rem;
  gap: 3rem;
  background-color: var(--color-highlight-green);
  box-sizing: border-box;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-highlight-green);    
  gap: 3rem;
}

.row-width-medium {
  min-width: 25vw; /* Setting minimum width for content */
}

.row-width-small {
  min-width: 25vw; /* Setting minimum width for content */
}

.column > img {
  width: 100%;
  height: auto;
  margin: auto;
  max-height: 40rem;
  display: block; /*Removing the gap at bottom of image */
  min-width: 35vw; /* Setting minimum width for content */
}

.column-40 {
  flex: 0.35;
  }
  
.column-60 {
  flex: 0.65;
  }

.one-row-column {
  height: 100%; 
  background: var(--color-light);
  box-sizing: border-box;
  flex-direction: column;
  }

  .component-header {
    font-size: 2.25rem;
    padding: 1rem 0rem 0.5rem 0rem;
    background: var(--color-highlight-green);
    margin: -1px; /* Fix for 1px visible of layer underneath */
    color: var(--color-light);
    flex-shrink: 0; 
  }

.rating-height {
  height: 25rem;
}

  .column p {
    padding-left: 1rem; /* Changed padding into em */
    padding-right: 1rem; /* Changed padding into em */
    margin: 1rem 0; /* Changed margin into em */
    background: var(--color-light)
  }

  .one-row-column-img {
    height: 100%; /* 200px; */
    background: var(--color-highlight-green);
    min-width: 20rem; /* Setting minimum width for content */
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .one-row-column-img > img {
    width: 100%;
    height: auto;
    margin: auto;
    max-height: 40rem;
    display: block; /*Removing the gap at bottom of image */
  }


  /* ======= CONTACT DETAILS SECTION ======= */

  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 100%;
    overflow: hidden;
    justify-content: center; /* adjusted */
    align-items: center;
    font-size: 2rem;
  }
  
  .text-box {
    /* Color for formatting text */
    color: var(--color-dark);
    background-color: var(--color-light);
    text-align: center;
    font-size: 2rem;
    line-height: 2.25rem;

    }

.text-route-description {
  text-align:left;
  font-size: 2rem;

  }

.text-box p {
  overflow:hidden;
  word-wrap: break-word;
}

.text-box a {
  word-break: break-all; /* Breaking email address for responsive elements */
  }    

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  }

/* **************************************** */
/* Booking Form
/* **************************************** */



.full-width {
  grid-column: 1 / 5;   
}

textarea {
  min-width: 100%;
  font-size: 2rem;
  padding: 1rem 0.2rem;
  font-family: 'Roboto', sans-serif;
}

form input {
  background:var(--color-light);
  border: 1px solid var(--color-dark);
  padding: 0.7em;
  font-size: 2rem;
}

form option, form select, form button{
  font-size: 2rem;
}


form label {
  background:var(--color-light);
  padding: 0.2em;
  vertical-align: middle;
  align-items: center;
  display: inline-grid;
  color: var(--color-highlight-accent);
}

form {
  grid-template-columns: 1fr 2fr 1fr 2fr;
  display: grid;
  padding: 3rem;
  background: var(--color-highlight-green);
  border: 1px solid var(--color-light);
  margin: 0rem auto 0 auto;
  box-sizing: border-box;
  grid-gap: 3rem;
  max-width: 100%;
  font-size: 2rem;
}

form p {
  margin: 0;
}

form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}

form button:hover {
  background: var(--color-highlight-accent);
  color: var(--color-light)
}

input:focus {
  outline: 3px solid gold;
}

/* **************************************** */
/* Grid Layout for Route Difficulty
/* **************************************** */

.wrapper-difficulty {
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-gap: 0rem;
  align-items: center;
  --justify-items: center; /* adjusted */
}

.box-difficulty {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 2rem;
}

.label-distance {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 1;
 grid-row-end: 2;
}

.value-distance {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  }
 
.value-stars {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  }
.value-time {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
 }

.label-difficulty {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.lable-time {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.hero-r1c1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--color-highlight-green-transparent) !important;
  line-height: 5rem;
  max-width: 40vw;
}

.hero-r2c1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: center;
}

/* **************************************** */
/* Difficulty Rating Code
/* **************************************** */

/* rating box with fontawesome 5 inspired from - https://stackoverflow.com/a/49343426/6908282*/

.rating-box {
  position: relative;
  vertical-align: middle;
  font-size: 2rem; /* comment/edit this to change size */
  font-family: FontAwesome;
  display: inline-block;
  color: var(--color-highlight-accent);
}

.rating-box:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f005 \f005 \f005 \f005 \f005";
}

.rating-box .rating {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color:var(--color-highlight-accent);
}

.rating-box .rating:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005 \f005 \f005 \f005 \f005";
}

/* **************************************** */
/* Booking Button 
/* Taken from Jonas Schmedtmann's Advanced CSS Course
/* **************************************** */

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1rem; /* Padding for top/bottom and left/right */
    display: inline-block;
    border-radius: 10rem; /* putting in a large radius to round the corners */
    transition: all .2s; /* animating all properties - transition property has to be on initial state*/
}

.btn:hover {
    transform: translateY(-3px); /* making the button move up 1px*/
    box-shadow: 0 1rem 2rem rgb(0,0,0,.2); /* x, y and blur values */
}

.btn:active {
    transform: translateY(-1px); /* making the button move up 3px relative to the link state*/
    box-shadow: 0 0.5rem 1rem rgb(0,0,0,.2); /* x, y and blur values */
}

.btn-white {
    background-color:var(--color-light);
    color:#777
}

/* **************************************** */
/* Credits, located below Footer */
/* **************************************** */

.credits {
  padding-bottom: 2rem;
  text-align: center;
  color: var(--color-light);
  font-size: 1.25rem;
}

.credits i {
  color: var(--color-highlight-accent)
}

/* **************************************** */
/* Responsive Elements */
/* **************************************** */


@media screen and (max-width: 1000px) {
/* For medium screen sizes from 950px and below */

    /* This floats our menu bar to the left if the screen size falls */


    .row {
      --display: block !important;
    }

    form {
      grid-template-columns: 1fr 2fr;
    }

    .full-width {
      grid-column: 1 / 3;   
    }

}


@media screen and (max-width: 700px) {
/* For medium screen sizes from 600px and below */

  .menu {
    clear: left;
    float: left;
    margin-left: 3rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }


  .column-40 {
    flex: 1;
  }
  
  .column-60 {
    flex: 1;
  }

  .hero-r1c1 {
    max-width: 70vw;
  }


}

